---
// Get heading and content from Astro props
const { heading, content } = Astro.props;
// Define TypeScript interface for props
interface Props {
  heading?: string;
  content?: string;
}
// Define classes for heading and content - increased text sizes
const headingClasses =
  "text-balance text-2xl font-bold text-black dark:text-white md:text-2xl";
const contentClasses =
  "mt-2 text-pretty text-base text-black dark:text-white md:text-lg text-lg";
---

<!-- The root container that arranges your slot and the heading/content -->
<div class="flex gap-x-5">
  <!-- Slot to allow for extensibility of the component -->
  <slot />
  <div class="grow">
    <!-- Heading of the section -->
    <h3 class={headingClasses}>
      {heading}
    </h3>
    <!-- Content text of the section -->
    <p class={contentClasses}>
      <Fragment set:html={content} />
    </p>
  </div>
</div>
